.gpt3__blog-container{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
}

.gpt3__blog-container-tile {
    border: 2px solid red;
    height: 325px;
    overflow: hidden;
    max-width: 500px;
}

/* .gpt3__blog-container-tile > img {
    width: 327.34px;
    height: 130.47px;
} */

.gpt3__blog-container-tile:first-child{
    grid-row: 1/3;
    height: unset;
}

.gpt3__blog-container-tile > div {
    background: #042C54;
    padding: 1rem;
}
