.gpt3__blog-container{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 325px 325px;
    gap: 35px;
}

.gpt3__blog-container-tile {
    height: 325px;
    max-width: 500px;
    display: grid;
    grid-template-rows: 40% auto;
    transition: scale 0.5s;
}

.gpt3__blog-container-tile:hover {
    scale: 1.03;
}

.gpt3__blog-container-tile img {
    min-height: 140px;
    width: 100%;
}

.gpt3__blog-container-tile:first-child{
    grid-row: 1/3;
    height: unset;
}

.gpt3__blog-container-tile:first-child img {
    min-height: 240px;
}

.gpt3__blog-container-tile:first-child > div {
    margin-top: -2.5rem;
}

.gpt3__blog-container-tile:first-child > div > h3 {
    margin-top: -2rem;
}

.gpt3__blog-container-tile:first-child > div > p:last-child {
   align-self: end;
}

.gpt3__blog-container-tile > div {
    background: #042C54;
    padding: 1rem;
    display: grid;
    grid-template-rows: 15% 75% 10%;
}

.gpt3__blog-container-tile > div > h3 {
    margin-top: 0.5rem;
    font-weight: 800;
    color: var(--color-white);
}

.gpt3__blog-container-tile > div > p:first-child,   .gpt3__blog-container-tile > div > p:last-child{
    font-weight: 400;
    font-size: 12px;
}

@media (max-width: 1000px) {
    .gpt3__blog-container{
        gap: 15px;
    }
}

@media (max-width: 500px) {
   
    .gpt3__blogs h3 {
        font-size: 2.5rem;
    }

    .gpt3__blog-container {
        grid-template-columns: auto auto;
    }


}