.gpt3__Navbar-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gpt3__Navbar-links_links {
    width: 50%;
    display: flex;
    gap: 2rem;
    color: var(--color-white);
}   

.gpt3__Navbar-links_buttons {
    z-index: 1;
}

.button {
    padding: 1em 2.5em;
    background-color: inherit;
    border: none;
    color: var(--color-white);
    border-radius: 5px;
}

.button__clicked {
    background-color: var(--color-orange);
}

.hamburger {
    display: none;
}

@media (max-width: 1200px) {
    
    .gpt3__Navbar-links_links {
        gap: 0.5rem;
        font-size: 0.9rem;
    }  

    .button {
        padding: 0.5em 1.5em;
    }

}

@media (max-width: 500px) {
    .gpt3__Navbar-links_links {
        display: none;
    }

    .hamburger {
        display: unset;
        background: inherit;
        color: var(--color-white);
        border: none;
        font-size: xx-large;
    }

    .button {
        display: none;
    }
}