
.gpt3__Navbar-mobile {
    display: none;
}


@media (max-width: 500px) {
    .gpt3__Navbar-mobile {
        height: 100vh;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        backdrop-filter: blur(30px);
        z-index: 1;
    }
    
    .gpt3__Navbar-mobile_links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

}

