.gpt3__header {
    display: grid;
    margin-top: 6rem;
    grid-template-columns: 1fr 1fr;
    padding: 6rem 4rem 4rem;
}

.gpt3__header-hero{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 650px;
}

.gpt3__header-img img{
    margin-top: -5em;
    max-width: 650px;
    min-width: 500px;
}

.header__button {
    padding: 1em 2.5em;
    background-color: inherit;
    border: none;
    color: var(--color-white);
    border-radius: 5px;
    background-color: var(--color-orange);
}

@media (min-width: 1600px) {
    .gpt3__header {
        grid-template-columns: 1fr 600px;
    }
}   

.gpt3__header-hero_input {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.gpt3__header-hero_input input {
    background-color: var(--color-blog);
    border: none;
    padding: 0 2rem;
    color: var(--color-text);
}

.gpt3__header-hero_input input::placeholder {
    color: var(--color-text);
}

.gpt3__header-hero_people {
    display: flex;
    height: 2rem;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
    font-weight: 300;
}

.gpt3__header-hero_text_h1 {
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: -1rem;
}

.gpt3__header-hero_text p {
    color: var(--color-text);
    font-size: 20px;
    font-weight: 400;
    line-height: 27.32px;
    margin-top: 2em;    
}

        /* 
            Media Querry for tablets
        */


@media (max-width: 1000px) {

    .gpt3__header-hero_text h3 {
        font-size: 30px;
        font-weight: 400;
    }

    .gpt3__header {
        grid-template-columns: 1fr 300px;
        padding: 6rem 2rem 4rem;
    }
    
    .gpt3__header-hero_text p {
        color: var(--color-text);
        font-size: 0.8rem;
        line-height: 20px;
    }   

    .gpt3__header-hero_input input {
        padding: 0 0.5rem;
    }

    .header__button {
        padding: 1em 1.5em;
    }

    .gpt3__header-img img {
        min-width: 300px;
        width: 100%;
    }

    .gpt3__header-hero_people {
        margin-top: -1.4rem;
        font-size: 0.6rem;
        font-weight: 200;
    }

    .gpt3__header-hero_people img {
        height: 1.5rem;
    }
}

                /*  
                    Media Querry for Phones  
                
                */


@media (max-width: 500px) {
    .gpt3__header {
        grid-template-columns: auto;
        padding: 2rem 1rem 1rem;
    }

    .gpt3__header-hero_text h3 {
        font-size: 35px;
        font-weight: 400;
    }
    
    .gpt3__header-hero_text p {
        color: var(--color-text);
        font-size: 14px;
        font-weight: 300;   
    }

    .gpt3__header-img {
        margin-top: 5rem;
    }

}

